[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>
<head>
    <!DOCTYPE html>
    <meta charset="utf-8">

    <!-- Load d3.js & color palette-->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.0/css/bulma.min.css">


<div class="section" id="app" v-cloak>
  <!-- Put here your Vue.js template -->
  <h1 class="title"><i class="fa-solid fa-cube"></i> Bird Stats</h1>
  <nav><button class="button" @click="getStat">Stats</button><button class="button" @click="getTrend">Trends</button></nav>
  <div>
    <input type="text" v-model="search_query" placeholder="Search species">
    <button class = button @click="searchSpecies">Search</button>
  </div>
  <div class = "is-flex is-flex-direction-row">
    <div id="my_dataviz"></div>
    <div :class="{'is-hidden' : selected_species.length == 0}">
      <div class = "is-flex is-flex-direction-column">
        <h3> Species: {{selected_species}}</h3>
        <ul><template v-for="bird in details">
          <li> {{bird.location}} </li>
        </template></ul>
      </div>
    </div>
  </div>
  <div :class="{'is-hidden' : search_query.length > 0}">
    <button class = button @click="getStat('recent')">Recently Seen</button>
    <button class = button @click="getStat('first')">First Seen</button>
  </div>
  <ol :class="{'is-hidden' : search_query.length > 0}">
    <template v-for="bird in stats">
      <li @click="getSpeciesDetails(bird)">{{bird}}</li>
    </template>
  </ol>
  <div :class = "{'is-hidden' : search_query.length == 0}">
    <h3>Search Results:</h3>
    <ol>
      <template v-for="bird in search_results">
        <li @click="getSpeciesDetails(bird)">{{bird}}</li>
      </template>
    </ol>
  </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_stats_url = "[[=XML(get_stats_url)]]";
  let get_species_details_url = "[[=XML(get_species_details_url)]]";
  let get_trends_url = "[[=XML(get_trends_url)]]";
  let search_species_url = "[[=URL('search_species')]]";
</script>
<script src="../static/js/index.js"></script>
[[end]] 


