<!DOCTYPE html>
<html>
<head>
    <title>Bird Species Checklist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title is-1 has-text-centered">Bird Species Checklist</h1>
            <div class="has-text-centered">
                <a href="[[=URL('mychecklist')]]" class="button is-link">Go to My Checklist</a>
                <a href="[[=URL('index')]]" class="button is-link">Go to Map</a>
            </div>
            <form method="GET" action="[[=URL('checklist')]]">
                <div class="field">
                    <label class="label">Search Species</label>
                    <div class="control">
                        <input class="input" type="text" name="search_term" value="[[=search_term]]">
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary">Search</button>
                </div>
            </form>
            <div class="section">
                [[if grid:]]
                    [[=grid]]
                [[pass]]
            </div>
        </div>
    </section>
</body>
</html>
