[[extend 'layout.html']]

<div class="section" id="app">
  <!-- Put here your Vue.js template -->
  <h1 class="title"><i class="fa-solid fa-cube"></i> Welcome users! </h1>
  <!--<link rel="stylesheet" type="text/css" href="./style.css" /> -->
  <!--<script type="module" scr="js/index.js"></script> -->
  <p> Map goes here</p> <!--Content: my_value: {{my_value}}-->
  <div id="map"></div> 
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
</script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="js/index.js"></script>
[[end]]
